<p>contact-form works!</p>

<div class="container">

<mat-card>
    <mat-card-content class="singleColumnForm">

    <form [formGroup] = "contactForm" (ngSubmit)="onSubmit()" >


        <mat-form-field appearance="outline">
          <mat-label>Contact Name</mat-label>
          <input matInput placeholder="Placeholder" formControlName="name">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>This is a hint what does it do?</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Placeholder" formControlName="phoneNumber">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Hint</mat-hint>
            <mat-error></mat-error>
          </mat-form-field>
  

        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput placeholder="Placeholder" formControlName="email">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Hint</mat-hint>
          <mat-error></mat-error>
        </mat-form-field>


<button mat-raised-button type="submit" color="primary">Submit Values</button>

    </form>
</mat-card-content>

</mat-card>
 </div>