<mat-toolbar color="primary" >2023 Client Application for worksheets
</mat-toolbar>







<router-outlet></router-outlet>

<!-- <div *ngIf="route.url | async as ro" > {{ro}}</div> -->

 <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button (click)="handleLogOut()">
        Log out
    </button>
</ng-container>

 <ng-template #loggedOut>
    <button (click)="handleLogIn()">Log in</button>
  </ng-template> 



<ul *ngIf="auth.user$ | async as user">
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>
    <li><img src="{{ user.picture }}" ></li>

 </ul> 