<p>contact-list works!</p>


<a mat-raised-button color="accent" href="/contacts/form">
  <mat-icon matprefix>add</mat-icon>
  Add New Contact
</a>



 <div class="container responsive-grid">
<div *ngFor='let c of contacts$ | async '>
<mat-card>
    <mat-card-header>
        {{c.name}}
    </mat-card-header>
    <mat-card-content>
      <div>Number: {{c.phoneNumber}}</div>
      <div>email: {{c.email}}</div>
     <a mat-raised-button color="primary"
        [routerLink] = "['/contacts',c._id]">VIEW DETAILS</a>
    </mat-card-content>
</mat-card>
  </div>
</div> 
