<p>contact-list works!</p>


<mat-icon>add</mat-icon><span class=cdk-visually-hidden>cdk-visually-hidden</span>


<!-- <button mat-button-raised >Add New Contact</button> -->

 <div class="container responsive-grid">
<div *ngFor='let c of contacts$ | async '>
<mat-card>
    <mat-card-header>
        {{c.name}}
    </mat-card-header>
    <mat-card-content>
      <div>Number: {{c.phoneNumber}}</div>
      <div>email: {{c.email}}</div>
     <a mat-raised-button color="primary"
        [routerLink] = "['/contacts',c._id]">VIEW DETAILS</a>
    </mat-card-content>
</mat-card>
  </div>
</div> 
<!-- <div class="container responsive-grid">
    <div *ngFor=*ngFor='let c of contacts$ | async '>
      <mat-card>
      <mat-card-header>
        <mat-card-title>Contact Details</mat-card-title></mat-card-header> 
        <mat-card-content>
        Name: {{c.name}}
      <div>Number: {{c.phoneNumber}}</div>
      <div>email: {{c.email}}</div>
    </mat-card-content>
    </mat-card>
    </div>
  </div> -->